.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.plaid-link-button {
  width: 150px;
  height: 20px;
}

.bankList {
  margin: 0 auto;
  width: 50%;
}

.bankList td {
  margin: 10px;
}
