.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.plaid-link-button {
  width: 150px;
  height: 20px;
}

.bankList {
  margin: 0 auto;
  width: 70%;
}

.bankList td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.backButton {
  margin: 20px;
  font-weight: bold;
  font-size: medium;
}

.clickableRow {
  cursor: pointer;
}

.headerRow {
  background-color: dodgerblue;
}

.tableBorder {
  border: dodgerblue solid;
}
